name: Docker Build

on:
  push:
    branches:
      - v5-develop
  workflow_dispatch:

env:
  REGISTRY: reg.fascinated.cc
  IMAGE_NAME: fascinated/sonarr-anime-fixes

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker registry
        uses: docker/login-action@v3
        with:
          registry: reg.fascinated.cc
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: reg.fascinated.cc/fascinated/sonarr-anime-fixes:latest
          cache-from: type=registry,ref=reg.fascinated.cc/fascinated/sonarr-anime-fixes:latest
          cache-to: type=inline
